.debhelper/
.gradle/
.gradlehome/
.javahelper_clean
.mh/
*.doc-base.javadoc
*.log
*.pom
*.substvars
android-platform-libcore-source-6.0.1/
build/
debhelper-build-stamp
files
libandroid-dex-java*/
libandroid-json-java*/
