#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

UPSTREAM_TAG = android-$(subst +,_,$(DEB_VERSION_UPSTREAM))
GRADLE_FLAGS = --settings-file debian/settings.gradle --offline \
               --gradle-user-home debian/.gradlehome
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMTHREADS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  GRADLE_FLAGS += --parallel --max-workers=$(NUMTHREADS)
endif

%:
	dh $@ --with maven_repo_helper,javahelper

override_dh_auto_build:
	gradle $(GRADLE_FLAGS) assemble poms

override_dh_auto_clean:
	dh_auto_clean
	gradle $(GRADLE_FLAGS) clean
	$(RM) -r debian/.gradle debian/.gradlehome .gradle
	$(RM) debian/*.pom

override_dh_install:
	dh_install
	chmod -x debian/android-platform-libcore-source-6.0.1/usr/src/android-platform-libcore-6.0.1/libart/main/java/java/lang/reflect/Proxy.java
	chmod -x debian/android-platform-libcore-source-6.0.1/usr/src/android-platform-libcore-6.0.1/luni/main/files/README.cacerts

get-orig-source:
	wget --continue https://android.googlesource.com/platform/libcore/+archive/$(UPSTREAM_TAG).tar.gz
